/*基本レイアウト*/
body{
  font-size:13px;
}
.mainContents{
  letter-spacing: 0.2em;
}
.infoContents img{
  margin-left:10%;
}
.telPart{
  min-height:100px;
  float:none;
}
h3.containSubTitle{
  font-size:1.0em;
}
.checkList{
  margin-left:0px
}
.checkList li{
  line-height: 22px;
  font-size: 0.7em;
}
.button3 a{
  font-size:0.9em;
}
.backbox{
  font-size: 1.5rem;
}
.descPart{
  line-height: 25px;
}
.caseContents .jireiPart{
  height:210px;
}
.stepSpace{
  margin-top:0px;
  margin-bottom:0px;
  padding-bottom:0px;
  border-bottom: none;
}
.border_zone1{
  font-size:1.2em;
  padding-bottom:10px;
  border-bottom:none;
}

.border_zone1 span{
  text-decoration: underline;
}

.stepSpaceTitle {
  width: 150px;
  height: 150px;
}

.fixedButton{
  display:none;
}
.tantoSection h6{
  font-size:10pt;
}

.tantoSection span{
  font-size:8pt;
}
.consultant1 img{
  height: 200px;
}
.consultant2 img{
  height: 200px;
}
.tantoSection{
  height:500px;
}
.comment_sm{
  display:block;
}
.hoge1:after{
  display:none;
}
.voiceContents .voicePart{
  height:250px;
}
